html {
    background-color: #1B1B1B;
    color: #fff;
}

.s {
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

div {
    display: block;
}

body {
    width: 100%;
    height: 3500px;
}

main {
    transition: all .8s ease-out;
}


/* hamburger */

.hamburger {
    display: block;
    position: fixed;
    right: 100px;
    top: 20px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    text-align: center;
}

.hamburger span {
    display: block;
    position: absolute;
    width: 64px;
    height: 1px;
    left: 6px;
    background: #fff;
    -webkit-transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 35px;
}

.hamburger span:nth-child(2) {
    top: 45px;
}


/* メニューを開いてる時のボタン */

.hamburger.active span:nth-child(1) {
    top: 40px;
    background: white;
    -webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-200deg);
    transform: rotate(-200deg);
    transition-duration: 1.5s;
}

.hamburger.active span:nth-child(2) {
    top: 40px;
    background: white;
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    transform: rotate(200deg);
    transition-duration: 1.5s;
}


/* メニュー背景　*/

menu.globalMenuSp {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .7s, z-index .5s;
}

menu.globalMenuSp .m-logo {
    width: 250px;
    height: 250px;
    display: block;
    position: absolute;
    top: 50px;
    left: 70px;
    overflow: hidden;
}

.m-logo .hallo,
.m-logo .ween {
    width: 250px;
    height: 90px;
}

.m-logo .x {
    width: 230px;
    height: 70px;
    padding-left: 10px;
}

.m-logo .h img,
.m-l a {
    transform: translateY(100%);
    transition: transform 2s;
}

.m-l {
    font-size: 70px;
    font-family: Jost-Thin;
    font-weight: 300;
    opacity: .7;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.m-l span {
    font-size: 15px;
    opacity: .5;
    display: inline-block;
    margin-right: 5px;
}

.t-up {
    display: block;
    transform: translateY(0%)!important;
}

.h {
    overflow: hidden;
}


/* クリックでjQueryで追加・削除 */

menu.globalMenuSp.active {
    display: block;
    transform: translateX(0%);
    opacity: 1;
    z-index: 99;
}


/* header */

#header {
    height: 100px;
    width: 100vw;
    z-index: 100;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease-out;
}

.slideOn {
    transform: translateY(-20px);
    transition: all 1s;
}

.logo2 img {
    height: 27px;
    width: 270px;
    margin: 30px 0 38px 0;
    position: relative;
    top: 21px;
    left: 50px;
    float: left;
}

header .logo {
    margin: 30px 38px 0 0;
    position: relative;
    top: 21px;
    right: 174px;
    float: right;
}

header .icon {
    padding-left: 20px;
    height: 20px;
}


/* mainvisual */

#mainvisual {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    z-index: 1
}

.logo1 {
    display: block;
    height: 500x;
    width: 600px;
    z-index: 10;
    position: relative;
    top: 30px;
    left: 70px;
}

.logo1:hover {
    opacity: .7;
}

.hallo,
.ween {
    height: 160px;
    width: 430px;
    display: block;
    transition: all .75s ease;
}

.x {
    height: 100px;
    width: 430px;
    display: block;
    transition: all .75s ease;
}

.js-mv-img {
    height: 830px;
    width: 1300px;
    z-index: 9;
    position: absolute;
    top: 180px;
    right: 4%;
    transition: all .5s ease-out;
}

.topPhoto {
    height: 100%;
    width: 100%;
}

.scroll {
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    right: 10px;
    width: 105px;
    height: 30px;
    padding-top: 8px;
    font-size: 5px;
    color: #fff;
    letter-spacing: 1.3px;
    transform: rotate(90deg) translate3d(30px, 0, 0);
    transform-origin: right top
}

.scroll i {
    position: absolute;
    top: 14px;
    right: -8px;
    width: 60px;
    height: 1px;
    background-color: white;
    overflow: hidden;
}

.scroll i:before {
    display: block;
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    width: 100%;
    height: 1px;
    transform: translate3d(0, 0, 0);
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes scroll {
    0% {
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        transform: translate3d(100%, 0, 0)
    }
}

.scroll a {
    text-decoration: none;
    color: #fff;
}


/* topics */

.s-1 {
    width: 100%;
    height: 135vh;
    background-color: #000238;
    z-index: 0;
    position: relative;
    margin-top: 0px;
    padding-top: 120px;
    padding-bottom: 50px;
    color: #fff;
}

.s-title {
    width: 100px;
    position: absolute;
    top: 35vh;
    left: 10vh;
    z-index: 10;
}

.s-title span {
    display: none;
    font-family: Noteworthy;
}

.s-title img {
    width: 100px;
    height: 305px;
}

.flex {
    width: 73.9%;
    margin-left: 21.7%;
    padding: 200px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex .cell {
    position: relative;
    margin-bottom: 80px;
    width: 46.2%
}

.new {
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    background: #b51c3d;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 10;
    text-align: center;
    padding-top: 10px;
}

.date {
    font-family: Noteworthy;
    position: absolute;
    top: 0;
    left: 0;
}

.date strong {
    line-height: .9;
    font-weight: 400;
    font-size: 37px;
}

.date p {
    position: absolute;
    top: -2px;
    left: 0;
    margin-left: 55px;
    letter-spacing: 2px;
    font-size: 12px;
}

.date i {
    position: absolute;
    top: 15px;
    left: 0;
    margin-left: 55px;
    letter-spacing: .8px;
    font-size: 12px;
}

.t {
    position: absolute;
    bottom: 24px;
    left: 0;
    z-index: 3;
    width: 86%
}

.cat {
    font-family: Noteworthy;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.cat span {
    opacity: .2;
    display: inline-block;
    margin-right: 5px;
}

.t sub {
    font-size: 20px;
    font-weight: 100;
}

.cell .img-wrap {
    position: relative;
    width: 26.35vw;
    height: 19.7vw;
    margin-left: 22.8%;
    overflow: hidden;
}

.cell:hover .img-wrap {
    background-color: rgba(255, 255, 255, 0);
    animation-name: img-back;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes img-back {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.211);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.img-wrap .p-img {
    height: 100%;
    margin: 0 22%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cell:hover .p-img {
    height: 105%;
    top: -2%;
    left: -1%;
}

.img-wrap .grad {
    display: block;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    z-index: -1;
}


/* schedule */

.s-2 {
    height: 120vh;
    background-color: #fff;
    padding: 136px 0 130px 0;
}

.schedule {
    margin-bottom: 70px;
    width: 69.9%;
    margin-left: 27.5%;
    padding: 0 25px;
    position: relative;
}

.schedule .cell {
    display: block;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    position: relative;
    padding: 80px 0 50px 0;
}

.schedule .cell .t {
    display: block;
    color: black;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 3;
    width: 86%
}

.sub2 {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.sub2::before,
.sub2::after {
    display: block;
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sub2::after {
    transform: translate3d(-101%, 0, 0);
    z-index: 1;
    background: #e8e8e8;
}

.schedule .cell:hover .sub2 span {
    animation-name: span-fade;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards
}

.schedule .cell:hover .sub2::after {
    animation-name: gray-anim;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards
}

@keyframes span-fade {
    0% {
        color: #fff
    }
    40% {
        color: #000
    }
    100% {
        color: #fff
    }
}

@keyframes gray-anim {
    0% {
        transform: translate3d(-101%, 0, 0)
    }
    100% {
        transform: translate3d(100%, 0, 0)
    }
}

.sub2 span {
    display: inline;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    padding: 6px 0 6px 4px;
    z-index: 3;
}

.view {
    width: 69.9%;
    display: flex;
    color: #000;
    font-size: 3.6rem;
    font-weight: 100;
    font-family: Noteworthy;
    margin-bottom: 60px;
    margin-left: 27.5%;
    padding: 0 25px;
    font-size: 60px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.view::before,
.view::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.view::after {
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    transform: translate3d(-100%, 0, 0)
}

.view:hover:after {
    transition: transform 3s;
    transform: translate3d(100%, 0, 0)
}

.view span {
    transition: all 1.4s;
}

.view:hover span {
    transition: transform 1.4s;
    transform: translate3d(30px, 0, 0);
}

.view img {
    position: relative;
    right: 30px;
    height: 45px;
    animation-name: img-opa;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes img-opa {
    0% {
        transform: translate3d(30px, 0, 0);
        opacity: 1;
    }
    50% {
        transform: translate3d(-20px, 0, 0);
        opacity: .1;
    }
    100% {
        transform: translate3d(-20px, 0, 0);
        opacity: 0;
    }
}

.view:hover img {
    animation-name: img-opa2;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes img-opa2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        transform: translate3d(30px, 0, 0);
        opacity: 1;
    }
}


/* info */

.s-3 {
    height: 99vh;
    color: #000;
    background-color: #f1f1f1;
    padding: 124px 0 132px 0;
}

.s-3 .s-title {
    position: absolute;
    top: 20%;
}

.info {
    margin-bottom: 50px;
    width: 69.9%;
    margin-left: 27.5%;
    padding: 0 25px;
    position: relative;
}

.info .cell {
    color: #000;
    display: block;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    padding: 50px 0 20px 0;
}

.info .cell:hover {
    animation-name: h-color;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes h-color {
    0% {
        background-color: #7777770a;
    }
    100% {
        background-color: #f1f1f1;
    }
}

.info .cell .t {
    position: relative;
}

.info .cell .date {
    font-family: Noteworthy;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.info .cell .date span {
    opacity: .3;
    display: inline-block;
    margin-right: 5px;
}

.info .cell .t .cat {
    position: relative;
    left: 110px;
}

.info .cell .t .cat span {
    opacity: .3;
}

.sub3 {
    font-weight: 100;
}

.s-3 .view::after {
    background-color: #f1f1f1;
}


/* video */

.s-4 {
    height: 90vh;
    padding: 54px 0 120px 0;
    z-index: 8;
}

.s-4 .s-title {
    position: absolute;
    top: 11%;
}

.s-4 .flex {
    width: 77.3%;
    margin-left: 20%;
    padding: 76px 25px 0 25px;
}

.s-4 .cell {
    margin-bottom: 70px;
}

.s-4 .cell .img-wrap {
    width: 77.2%;
    height: 17.4vw;
    background-color: #000;
    position: relative;
    z-index: -2;
}

.s-4 .p-img {
    width: 100%;
    margin: 0;
    padding: 50px 0;
    border: 1px solid rgba(255, 255, 255, .3);
}

.s-4 .cell:hover .p-img {
    height: 105%;
    width: 105%;
}

.play {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.s-4 .view {
    color: #fff;
}

.s-4 .view::before {
    background-color: #fff;
}

.s-4 .view::after {
    background-color: #1B1B1B;
}


/* footer */

footer {
    height: 80vh;
    background-color: #000;
    display: block;
    position: relative;
}

footer::before {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .5;
    display: block;
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
}

.f {
    width: 100%;
    display: block;
    margin-top: 200px;
    position: relative;
    z-index: 10;
}

.to-top {
    height: 80px;
    display: block;
    background-color: #151515;
    position: relative;
}

.to-top:hover {
    animation-name: f-var;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes f-var {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.f-n-var {
    width: 30px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 48%;
}

.f-l {
    width: 200px;
    position: relative;
    top: 20px;
    left: 5%;
}

.f-logo img {
    width: 100%;
}

.f-logo .l-x {
    margin-left: 5%;
    height: 25px;
    width: 180px;
}

.l-u {
    display: flex;
    margin-left: 20px;
}

.l-u .icon {
    height: 20px;
    margin-right: 30px;
    margin-top: 20px;
}

.f-m {
    width: 49.9%;
    display: flex;
    padding: 100px 0 68px;
    margin-left: 45.7%;
    justify-content: space-between;
    position: relative;
    bottom: 315px;
}

footer .cell {
    display: flex;
    flex-direction: column;
}

footer .cell a,
footer .cell span {
    font-weight: 300;
    opacity: .5;
}

footer .c-1 {
    width: 50%;
    position: relative;
}

footer .c-1 span {
    letter-spacing: 1px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: -100px;
}

footer .c-1 a {
    font-size: 38px;
    font-family: jost-b, "Yu Gothic", YuGothic, sans-serif;
    padding-bottom: 15px;
    letter-spacing: 2px;
    line-height: 34.2px;
}

footer .c-2 {
    width: 223px;
    position: relative;
}

footer .c-2 span {
    letter-spacing: 1px;
    font-size: 12px;
    position: absolute;
    top: -2px;
    left: -140px;
}

footer .c-2 a {
    font-size: 38px;
    font-family: jost-b, "Yu Gothic", YuGothic, sans-serif;
    margin-top: 2px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    line-height: 25px;
}

.cr {
    font-size: 10px;
    opacity: .5;
    margin-left: 6%;
    margin-top: -100px;
    position: relative;
    bottom: 100px;
}

.js-f {
    height: 40vh;
    transition: all .5s ease-out;
    z-index: -10;
}


/* loadin */

.start {
    background: black;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9000;
}

.start p {
    position: relative;
    top: -8%;
    left: -8%;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 9999;
}