html {
    background-color: #1B1B1B;
    color: #fff;
}

.s {
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

div {
    display: block;
}

main {
    overflow: hidden;
    display: block;
}


/* hamburger */

.hamburger {
    display: block;
    position: fixed;
    right: 20px;
    top: 0px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    text-align: center;
}

.hamburger span {
    display: block;
    position: absolute;
    width: 64px;
    height: 1px;
    left: 6px;
    background: #fff;
    -webkit-transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 35px;
}

.hamburger span:nth-child(2) {
    top: 45px;
}


/* メニューを開いてる時のボタン */

.hamburger.active span:nth-child(1) {
    top: 40px;
    background: white;
    -webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-200deg);
    transform: rotate(-200deg);
    transition-duration: 1.5s;
}

.hamburger.active span:nth-child(2) {
    top: 40px;
    background: white;
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    transform: rotate(200deg);
    transition-duration: 1.5s;
}


/* メニュー背景　*/

menu.globalMenuSp {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .7s, z-index .5s;
}

menu.globalMenuSp .m-logo {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
    overflow: hidden;
}

.m-logo .hallo,
.m-logo .ween {
    width: 150px;
    height: 50px;
}

.m-logo .x {
    width: 145px;
    height: 40px;
    padding-left: 10px;
}

.m-logo .h img,
.m-l a {
    transform: translateY(100%);
    transition: transform 2s;
}

.m-l {
    font-size: 60px;
    font-family: Jost-Thin;
    font-weight: 300;
    opacity: .7;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 6px;
}

.m-l span {
    font-size: 15px;
    opacity: .5;
    display: inline-block;
    margin-right: 5px;
}

.t-up {
    display: block;
    transform: translateY(0%)!important;
}

.h {
    overflow: hidden;
}


/* クリックでjQueryで追加・削除 */

menu.globalMenuSp.active {
    display: block;
    transform: translateX(0%);
    opacity: 1;
    z-index: 99;
}


/* header */

#header {
    height: 60px;
    width: 100vw;
    z-index: 100;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease-out;
}

.slideOn {
    transform: translateY(-20px);
    transition: all 1s;
}

.logo2 img {
    height: 18px;
    width: 200px;
    margin: 30px 0 38px 0;
    position: relative;
    top: 0px;
    left: 20px;
    float: left;
}

header .logo {
    display: none;
}


/* mainvisual */

#mainvisual {
    width: 100%;
    height: 120vw;
    position: relative;
    color: #fff;
    z-index: 1
}

.logo1 {
    display: block;
    height: 180px;
    width: 200px;
    z-index: 10;
    position: relative;
    top: 20px;
    left: 20px;
}

.hallo,
.ween {
    height: 60px;
    width: 200px;
    display: block;
    transition: all .75s ease;
}

.x {
    height: 50px;
    width: 180px;
    display: block;
    transition: all .75s ease;
}

.js-mv-img {
    height: 62vw;
    width: calc(100%-25px);
    z-index: 9;
    position: absolute;
    bottom: 5.5%;
    right: 0%;
    transition: all .5s ease-out;
}

.topPhoto {
    height: 100%;
    width: 100%;
}

.scroll {
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 105px;
    height: 30px;
    padding-top: 8px;
    font-size: 10px;
    color: #fff;
    letter-spacing: 1.3px;
    transform: rotate(90deg) translate3d(30px, 0, 0);
    transform-origin: right top;
    z-index: 10;
}

.scroll i {
    position: absolute;
    top: 14px;
    right: -8px;
    width: 60px;
    height: 1px;
    background-color: white;
    overflow: hidden;
}

.scroll i:before {
    display: block;
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    width: 100%;
    height: 1px;
    transform: translate3d(0, 0, 0);
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes scroll {
    0% {
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        transform: translate3d(100%, 0, 0)
    }
}

.scroll a {
    text-decoration: none;
    color: #fff;
}


/* topics */

.s-1 {
    background-color: #000238;
    height: 170vh;
    z-index: 0;
    position: relative;
    margin-top: -30px;
    padding-top: 100px;
    padding-bottom: 16px;
    color: #fff
}

.s-title {
    width: 100%;
    position: absolute;
    margin-bottom: 38px;
    z-index: 10;
}

.s-title span {
    display: block;
    font-family: Noteworthy;
    font-size: 200%;
    font-weight: 300;
    text-align: center;
    position: relative;
}

.s-title img {
    display: none;
}

.flex {
    position: relative;
    top: 130px;
    z-index: 10;
    width: 100%;
    padding: 0 25px;
}

.flex .cell {
    display: block;
    position: relative;
    margin-bottom: 40px;
    width: 100%;
}

.new {
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    background: #b51c3d;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 10;
    text-align: center;
    padding-top: 10px;
    font-family: jost-b;
}

.date {
    font-family: Noteworthy;
    position: absolute;
    top: 0;
    left: 0;
}

.date strong {
    line-height: .8;
    font-weight: 400;
    font-size: 32px;
}

.date p {
    position: absolute;
    top: -5px;
    left: 0;
    margin-left: 55px;
    letter-spacing: 2px;
    font-size: 10px;
}

.date i {
    position: absolute;
    top: 13px;
    left: 0;
    margin-left: 55px;
    letter-spacing: .8px;
    font-size: 14px;
}

.t {
    position: absolute;
    bottom: 17px;
    left: 0;
    z-index: 3;
    width: 86%
}

.cat {
    font-family: Noteworthy;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.cat span {
    opacity: .2;
    display: inline-block;
    margin-right: 5px;
}

.t sub {
    font-size: 20px;
    font-weight: 100;
}

.cell .img-wrap {
    position: relative;
    width: 63.9vw;
    height: 48.27vw;
    margin-left: 26.2%;
    z-index: 0;
    overflow: hidden;
}

@keyframes img-back {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.211);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.img-wrap .p-img {
    height: 100%;
    margin: 0 22%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img-wrap .grad {
    display: block;
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    z-index: -1;
}


/* schedule */

.s-2 {
    height: 120vh;
    background-color: #fff;
    padding: 52px 0 70px 0;
}

#schedule .s-title h3 span {
    color: #000;
}

.schedule {
    margin-bottom: 70px;
    width: 100%;
    padding: 0 25px;
    position: relative;
    top: 100px;
}

.schedule .cell {
    display: block;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    position: relative;
    padding: 30px 0;
}

.schedule .cell .t {
    display: block;
    color: black;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 3;
    width: 86%
}

.sub2 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.8;
}

.sub2 span {
    background-color: #000;
    display: inline;
    position: relative;
    line-height: 2.2;
    padding: 6px 0 6px 4px;
    z-index: 3;
}

.view {
    color: #000;
    position: relative;
    top: 70px;
    font-size: 36px;
    font-weight: 100;
    font-family: Noteworthy;
    letter-spacing: 1.6px;
    width: 90%;
    text-indent: -1px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.view::before,
.view::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.view::after {
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    transform: translate3d(-100%, 0, 0)
}

.view span {
    transition: all 1.4s;
}

.view img {
    position: relative;
    right: 30px;
    height: 45px;
    animation-name: img-opa;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes img-opa {
    0% {
        transform: translate3d(30px, 0, 0);
        opacity: 1;
    }
    50% {
        transform: translate3d(-20px, 0, 0);
        opacity: .1;
    }
    100% {
        transform: translate3d(-20px, 0, 0);
        opacity: 0;
    }
}

@keyframes img-opa2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        transform: translate3d(30px, 0, 0);
        opacity: 1;
    }
}


/* info */

.s-3 {
    height: 110vh;
    color: #000;
    background-color: #f1f1f1;
    padding: 50px 0 60px 0;
}

.s-3 .s-title {
    color: #000;
    margin-bottom: 40px;
}

.info {
    position: relative;
    top: 100px;
}

.info .cell {
    color: #000;
    display: block;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 30px 0;
    margin: 0 25px;
    position: relative;
}

.info .cell .t {
    position: relative;
}

.info .cell .date {
    font-family: Noteworthy;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.info .cell .date span {
    opacity: .3;
    display: inline-block;
    margin-right: 5px;
}

.info .cell .t .cat {
    position: relative;
    left: 110px;
}

.info .cell .t .cat span {
    opacity: .3;
}

.sub3 {
    font-weight: 100;
}

.s-3 .view {
    top: 150px;
}


/* video */

.s-4 {
    height: 170vh;
    background-color: #200701;
    padding: 54px 0 72px 0;
    z-index: 8;
}

.s-4 .s-title {
    position: relative;
    margin-bottom: 38px
}

.s-4 .flex {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 25px 0;
}

.s-4 .cell {
    color: #fff;
    width: 100%;
    padding-top: 16px;
    margin-bottom: 40px;
}

.s-4 .cell .img-wrap {
    margin-left: 25.6%;
    width: 74.6%;
    height: 43vw;
    overflow: hidden;
    position: relative;
    z-index: -2;
}

.s-4 .p-img {
    width: 100%;
    background-color: #00000082;
    margin: 0;
    padding: 0 40px;
    border: 1px solid rgba(255, 255, 255, .3);
}

.play {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.s-4 .view {
    color: #fff;
}

.s-4 .view::before {
    background-color: #fff;
}

.s-4 .view::after {
    background-color: #1B1B1B;
}


/* footer */

footer {
    color: #fff;
    background-color: #000;
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
}

footer::before {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .5;
    display: block;
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
}

.f {
    background-color: #151515;
    width: 100%;
    position: relative;
    z-index: 10;
}

.to-top {
    height: 54px;
    display: block;
    background-color: #151515;
    position: relative;
}

.f-n-var {
    width: 20px;
    height: 26px;
    position: absolute;
    top: 30%;
    left: 48%;
}

.js-f {
    position: relative;
    top: -20px;
}

.f-l {
    position: relative;
    padding: 0 25px;
    z-index: 0;
}

.f-logo {
    display: block;
    margin-top: 56px;
    width: 142px;
    height: 125px;
}

.f-logo img {
    width: 100%;
}

.f-logo .l-x {
    margin-left: 5%;
}

.l-u {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    top: 0;
    right: 25px;
}

.l-u .icon {
    height: 15px;
}

.f-m {
    display: flex;
    justify-content: space-between;
    padding: 56px 25px 50px 25px;
    position: relative;
    top: 30px;
}

footer .cell {
    display: flex;
    flex-direction: column;
}

footer .cell a,
footer .cell span {
    font-weight: 300;
    opacity: .5;
}

footer .c-1 {
    width: 54%;
    position: relative;
}

footer .c-1 span {
    font-size: 1rem;
    color: #494949;
    letter-spacing: 0;
    margin-bottom: 17px;
}

footer .c-1 a {
    font-size: 27px;
    font-family: jost-b, "Yu Gothic", YuGothic, sans-serif;
    letter-spacing: .4vw;
    line-height: .9;
    margin-bottom: 12px;
}

footer .c-2 {
    width: 38%;
    position: relative;
}

footer .c-2 span {
    font-size: 1rem;
    color: #494949;
    letter-spacing: 0;
    margin-bottom: 17px;
}

footer .c-2 a {
    font-size: 27px;
    font-family: jost-b, "Yu Gothic", YuGothic, sans-serif;
    letter-spacing: .4vw;
    line-height: .9;
    margin-bottom: 12px;
    color: #fff;
}

.cr {
    color: #494949;
    font-size: .7rem;
    letter-spacing: .4px;
    margin-left: 25px;
}


/* load */

.start,
.start p {
    display: none;
    opacity: 0;
}